<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>App</title>
</head>
<body>
Index says:
{{ message }} & {{id}}
<button>Click me</button>
</body>
<script src="http://localhost:3003/static/bundle.js"></script>
</html>
